/*~---------------------------------------------------------------------------*/
/*                        _      _                 _   _                      */
/*                    ___| |_ __| |_ __ ___   __ _| |_| |_                    */
/*                   / __| __/ _` | '_ ` _ \ / _` | __| __|                   */
/*                   \__ \ || (_| | | | | | | (_| | |_| |_                    */
/*                   |___/\__\__,_|_| |_| |_|\__,_|\__|\__|                   */
/*                                                                            */
/*  File      : main.css                                                      */
/*  Project   : simple_tree                                                   */
/*  Date      : Mar 10, 2020                                                  */
/*  License   : GPLv3                                                         */
/*  Author    : stdmatt <stdmatt@pixelwizards.io>                             */
/*  Copyright : stdmatt 2020                                                  */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*---------------------------------------------------------------------------~*/
#canvas_div
{
    position:fixed;
    top   : 5%;
    bottom: 25%;
    right : 20%;
    left  : 20%;

    box-shadow:5px 8px 10px 0px #b3b2b2f7;
    text-align: center;

  }
